*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: #1c0522;
}
bx{
    display: flex;
}
hr{
    border-style: dotted none none;
    height: 2px;
    width: 10%;
    border-color: #C0EEE4;
    border-width: 15px;
    margin-left: 45%;
   
}
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: #fff;
    color: #2b1055;
   
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(#2b1055, #7597de);
}
section::before{
    content: '';
    position: absolute ;
    bottom: 0;
    width: 100%;

height: 100px;
background: linear-gradient(to top, #1c0522, transparent);
z-index: 1000;

}
section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    pointer-events:none;
}
section img#moon{
    mix-blend-mode:screen;
}
section img#mountains_front{
    z-index: 10;
}
#text{
    position: absolute;
    color: #fff;
    white-space:nowrap ;
    font-size: 7.5vw;
    right: -350px;
    z-index: 9;
}
#btn{
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size:1.5em ;
    z-index: 9;
    transform: translateY(100px);

}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
    align-items: center;
    text-align: center;

    
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec img{
    width: 15rem;
    height: 15rem ;
   
    
}
.sec p{
    font-size: 1.2em;
    color: #fff;
}
#btn_contact{
    text-decoration: none;
    padding: 4px 15px;
    display: inline-block;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1em ;
    font-weight: 600;
    z-index: 9;
    margin-top: 20px;

}
.skills{
    position: relative;
    padding: 100px;
    background: #1c0522;
    align-items: center;
    text-align: center;

}
.skills h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.skills li{
    list-style:none;
    color: #fff;
    padding: 5px;
}
.service{
    text-align: center;
    color: #fff;
    align-items: center;
    padding: 100px;
}
.service h2{
    font-size: 3.5em;
    margin-bottom: 15px;
    color: #fff;
}
table{
    margin-left: 10%;
    table-layout: auto;
    border-collapse: collapse;
   width: 80%;
   
}
table th{
    font-weight: 600;
    color: #fff;
    border: 1px solid #dddddd;
    padding: 8px;
}
table td{
    color: #fff;
    border: 1px solid #dddddd;
    padding: 8px;
}
.contact{
    padding: 100px;

}
.contact p{
    color: #fff;
    
}
.contact h2{
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 15px;
    color: #fff;
}
.conicon{
    padding: .5rem;
    margin: 1rem;
    background: #7597de;
    border-radius: 50%;
}
#menu-icon{
    color: #C0EEE4;
    transform: scale(1.5);
}
#btn_contact:hover{
    transform: scale(1.05);
    transition: .2s;
}
th:hover,td:hover{
    background: #7597de;
}



@media (max-width: 1560px){
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:3.5rem;
        --h2-font:2rem;
    }
    #menu-icon{
        display: none;
        
       }
    
}

@media (max-width: 1140px){
   section{
    padding: 50px 8%;
   }
   
   #menu-icon{
    display: initial;
    color: var(--text-color);
   }
   .navbar{
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #1c0522;
    transition: .4s;
    opacity: 90%;
   }

   .navbar.active{
      top: 70px;
   }
   .navbar a{
    padding: 1.5rem;
    display: block;
   }
   #contact{
    width: 50%;
    margin-bottom: 10px;
   }
}

@media (max-width: 720px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        order: 2;
    }
    section{
        padding: 100px 7%;
    }
}
@media (max-width: 575px){
    #contact{
        width: 100%;
    }
}
